.skill-content {
    width: max(90%, 500px);
    background-color: white;
    margin-top: 3em;
    margin-inline: auto;
    padding-bottom: 0.5rem;
    min-height: 72vh;

    .content-title {
        background-color: #020301;
        text-align: center;
        padding: 1em 0;

        h1 {
            color: white;
            font-family: Inter, sans-serif;
        }
    }

    .second-title {
        margin-top: 1em;
        background-color: #e5e5e5;
        padding: 2em 0;
        text-align: center;
        font-family: Inter, sans-serif;
    }

    .content-contents {
        margin-top: 5vh;
        ul {
            margin: 2.5rem 3.5rem;
            li {
                list-style-type: disc;
                line-height: 5em;
                font-weight: 600;
                font-family: Inter_Light, sans-serif;
            }
        }
    }
}