:root {
    --navcolor: #1f1a38;
    --navbuttons: white;
    --background: #b4befe;
    --oxford-blue: #011638;
    --fs-xl: 3rem;
    --fs-lg: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-200: 0.5rem;
}

.course-div {
    background-color: aliceblue;

    .course-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .course-nav li{
        position: relative;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgb(171, 209, 241);
        }
    }

    .course-nav li:not(:nth-child(1)) {
        flex: 1;
        text-align: center;
    }

    .course-nav li:first-child {
        display: flex;
        padding: 0.25em 0.75em;
        padding-top: 0.75em;
    }

    .course-nav li a{
        display: inline-block;
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        font-family: Libre_Franklin, sans-serif;
    }

    .course-nav li:not(:last-child)::after {
        content: "";
        background-color: black;
        width: 1px;
        height: 80%;
        display: block;
        position: absolute;
        top: 15%;
        right: 0;
    }

    .course-nav li:first-child::after {
        content: "";
        background-color: black;
        width: 1px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}