.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    background-color: #1f1a58;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 0px;
    margin-top: 4ch;
    p {
        color: white;
    }

    a {
        color: white;
    }

    i {
        color: white;
    }

    .heading-para {
        color: white;
        font-weight: bold;
        margin-bottom: 1.2rem;
    }

    div:not(:first-child){
        text-align: center;
    }

    > div {
        position: relative;
    }

    > div:not(:last-of-type):after {
        position: absolute;
        content: "";
        border-right: 2px solid white;
        height: 80%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .copyright p {
        padding-bottom: 20px;
        text-align: center;
    }

    .contact-information {
        display: flex;
        flex-direction: column;
    }

    .contact-information .contact-line {
        margin-top: 10px;
        width: fit-content;
        margin-left: 20%;
    }

    .contact-information i {
        margin-right: 12px;
    }
}

@media only screen and (width < 1000px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (width < 600px) {
    .footer {
        grid-template-columns: 1fr;
        row-gap: 2em;
    }
}