.profile-home-card {
    display: flex;
    width: 25%;
    justify-content: space-around;
    background: linear-gradient(90deg, #BED1F6 0%, #FFFFFF 100%);
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 2%;
    border-radius: 10px;
    align-items: center;
    font-family: Libre_Franklin, sans-serif;

    p.username-profile {
        display: inline-block;
        color: blue;
        transform: translateY(-50%);
    }

    .shown-info {
        width: 50%;

        .level-profile {
            color: green;
        }
    }

    .shown-info span {
        color: red;
    }

    #vip_status, #setting_icon {
        width: 2em;
        height: 2em;
    }

    #vip_status {
        display: inline-block;
    }
}