* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: Libre_Franklin;
    src: url(../fonts/LibreFranklin-Regular.ttf);
}

body {
    background:
            calc(.9*39px) calc(.9*39px)/calc(2*39px) calc(2*39px) conic-gradient(at 20% 20%, #0000 75%, #7254ED 0),
            calc(-.1*39px) calc(-.1*39px)/calc(2*39px) calc(2*39px) conic-gradient(at 20% 20%, #0000 75%, #7254ED 0),
            calc(.7*39px) calc(.7*39px)/calc(2*39px) calc(2*39px) conic-gradient(at 40% 40%, #0000 75%, #5D0CFF 0),
            calc(-.3*39px) calc(-.3*39px)/calc(2*39px) calc(2*39px) conic-gradient(at 40% 40%, #0000 75%, #5D0CFF 0),
            conic-gradient(from 90deg at 20% 20%, #7254ED 25%, #5D0CFF 0) 0 0/39px 39px;
}

:root {
    --maincolor: #1f1a58;
    --navbuttons: #e6842a;
    --background: #b4befe;
    --oxford-blue: #011638;
    --fs-xl: 3rem;
    --fs-lg: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-200: 0.5rem;
}

.container {
    max-width: 1284px;
    margin: 0 auto;
    background-color: #b4befe;
}

@media only screen and (width >= 1000px) {
    .top-nav {
        padding: 1em 1em;
        background-color: var(--maincolor);
        display: flex;

        .logo h1 {
            font-family: Libre_Franklin, sans-serif;
            color: white;
        }

        div {
            width: 20%;
        }
        div img{
            width: 50%;
        }

        .nav-toggle {
            display: none;
        }

        .menu-items {
            width: 80%;
            display: flex;
            font-family: Libre_Franklin, sans-serif;
            justify-content: space-evenly;
            align-items: center;
        }

        .search {
            position: relative;
            min-width: 50%;

            input {
                width: 100%;
                padding: 0.45em 0px;
                padding-left: 2rem;
            }

            i {
                position: absolute;
                top:20%;
                left: 0.25rem;
            }
        }
        li:not(:nth-child(1)) {
            padding: 0.5em 1em;
            background-color: #1f1a58;
            border-radius: 8px;

            a {
                border-radius: 10px;
                color: white;
                border: 2px solid white;
                padding: 0.5rem 1rem;
            }
        }

        li:nth-child(2) {
            margin-left: 10%;
        }
    }
}

@media only screen and (width < 1000px) {
    .top-nav {
        background-color: var(--maincolor);
        text-align: center;
        position: relative;
        z-index: 2;
        width: 100%;
        font-family: Libre_Franklin, sans-serif;
        padding: 1em 0;

        .logo h1 {
            color: white;
        }


        ul.menu-items {
            z-index: 2;
            position: absolute;
            text-align: left;
            top: 100%;
            width: 100%;
            left: 0;
            background-color: #1f1a58;
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform 400ms ease-in-out;
        }

        .search {
            position: relative;

            input {
                padding: 0.45em 0px;
                min-width: 50%;
                padding-left: 2rem;
            }

            i {
                position: absolute;
                top:20%;
                left: 0.25rem;
            }
        }

        ul.menu-items li{
            margin-top: 1em;
            margin-left: 1em;
            font-size: var(--fs-500);
            opacity: 0; /* Toggle the opacity for the animation. */
            transition: opacity 150ms ease-in-out;

            a {
                color: whitesmoke;
            }

            a:hover {
                color: rgba(245, 245, 245, 0.781);
            }
        }

        ul.menu-items li:last-child {
            margin-bottom: 1em;
        }

        .nav-toggle {
            display: none;
        }

        .nav-toggle:checked ~ ul {
            display: block;
            transform: scale(1,1);
        }

        .nav-toggle:checked ~ ul li {
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }

        .nav-toggle-label {
            position: absolute;
            top: 50%;
            left: 0;
            margin-left: 1em;
            height: 10%;
            display: flex;
            align-items: center;
        }

        .nav-toggle-label span,
        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            display: block;
            background-color: white;
            height: 4px;
            width: 2em;
            border-radius: 2px;
            position: relative;
        }

        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            content: '';
            position: absolute;
        }

        .nav-toggle-label span::before {
            bottom: 7px;
        }

        .nav-toggle-label span::after {
            top: 7px;
        }
    }
}