:root {
    --validation-success: #d3ffc5;
    --validation-fail: #f7b0b0;
    --validation-warning: #ffe998;
}

.success[type="password"] {
    background-color: var(--validation-success);
}
.fail[type="password"] {
    background-color: var(--validation-fail);
}
.warning[type="password"] {
    background-color: var(--validation-warning);
}