* {
    padding: 0;
    margin: 0;
    list-style-type: disc;
}

.student-basic-profile {
    .student-info {
        margin-top: 2em;
        padding: 1em 0;
        background-color: #56479c;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .student-avatar {
            display: flex;
            align-items: center;
            min-width: 300px;
            justify-content: space-between;
            font-family: Inter, sans-serif;

            h2 span {
                color: whitesmoke;
            }

            img {
                width: 120px;
                border-radius: 50%;
            }
        }

        button {
            &:hover {
                font-weight: bold;
            }

            cursor: pointer;
            height: fit-content;
            padding: 0.5em 0.75em;
            font-size: 1.15rem;
            font-family: Libre_Franklin,
            sans-serif;
            border-radius: 7px;
            border: none;
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.profile-settings {
    display: flex;
    margin-top: 3em;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-family: Libre_Franklin, sans-serif;
    background-color: #f71735;

    .section-link {
        width: 33%;
        text-align: center;
        padding: 0.5em 1em;
        cursor: pointer;

        a {
            color: aliceblue;
        }
    }

    .section-link:hover {
        background-color: rgb(248, 154, 154);

        a {
            color: black;
            font-weight: bold;
        }
    }
}

.student-data {
    display: flex;
    margin-top: 6em;
    justify-content: space-between;

    .student-buttons {
        li {
            list-style-type: none;
            margin: 0.7rem 0;
            width: 30ch;

            button {
                display: flex;
                width: 100%;
                margin-bottom: 1.15em;
                border: none;
                padding: 0.7em;
                box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
                background-color: #002147;
                font-size: 1.05rem;
                cursor: pointer;
            }

            button:hover {
                font-weight: bold;
            }
        }

        li:nth-child(2n + 1) button {
            background-color: #002147;
            color: white;
        }

        li:nth-child(2n+1) i {
            color: white;
            margin-right: 0.7rem;
        }

        li:nth-child(2n) button {
            background-color: #1890ff;
            color: white;
        }

        li:nth-child(2n) i {
            color: white;
            margin-right: 0.7rem;
        }

    }

    .student-info {
        background-color: #1f1a38;
        width: max(60%, 600px);
        border-radius: 10px 0 0 10px;
        margin-left: 10%;
        margin-bottom: 5em;
        padding: 2em 0;

        li {
            border-top: 1px dashed white;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 1.5em;
            font-family: sans-serif;

            p {
                color: white;
                font-size: 1.5rem;
            }

            span {
                color: white;
                font-size: 1.5rem;
            }
        }

        li:nth-child(2n) {
            background-color: #312c4d;
        }

        li:last-child {
            border-bottom: 1px dashed white;
        }
    }

    .friend-info {
        background-color: #cad3f5;
        width: max(60%, 600px);
        border-radius: 10px 0 0 10px;
        margin-left: 10%;
        margin-bottom: 5em;
        padding: 2em 0;

        img {
            width: 15%;
            border-radius: 50%;
        }

        h3 {
            /*align-items: left;*/
            text-align: left;
            margin-right: 10rem;
        }

        li {
            list-style-type: none;
            border-top: 1px dashed white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5em;
            font-family: sans-serif;
        }

        button {
            width: 7rem;
            height: 2rem;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            background-color: red;
            border: none;
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);

            &:hover {
                background-color: rgb(248, 154, 154);
                color: black;
            }
        }


    }

    .comment-section {
        background-color: #cad3f5;
        width: max(60%, 600px);
        border-radius: 10px 0 0 10px;
        margin-left: 10%;
        margin-bottom: 5em;
        padding: 2em 0;


        li {
            list-style-type: none;
            border-top: 1px dashed white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5em;
            font-family: sans-serif;
            margin-right: 15rem;

            .comment-redirect {
                display: none;
            }

            span {
                margin-top: 0.3rem;
                font-style: italic;
            }

            p {
                margin-top: 0.7rem;
            }

            img {
                width: 15%;
                border-radius: 50%;
            }

            h3 {
                /*align-items: left;*/
                text-align: left;
                margin-right: 10rem;
            }
        }
    }

    .pagination ol {
        display: flex;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            font-family: Libre_Franklin, sans-serif;
            width: fit-content;
            padding: 1em 1em;
            border: 1px solid #00688b;
            /* Darker colder shade */
            border-radius: 5px;
            background-image: linear-gradient(180deg, #5f9ea0 0%, #4682b4 49%, #2e8b57 50%, #004953 100%);
            /* Darker colder shades */
            transition: transform, color, border-color, 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        button:hover {
            cursor: pointer;
            transform: scale(1.35);
            border-radius: 50%;
            color: white;
            border-color: #cad3f5;
        }
    }

}